<!doctype html>

<html>
<head>
	<title>New Post Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- Loading Bootstrap -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/flat/favicon.ico">

   <link href="/css/coral.css" rel="stylesheet">
     
</head>

<body>

	<!-- Header -->
	<div class="header-gen">
		<!--<a href="homepage.handlebars"><button></button></a>-->
		<h1 id="nexa-light-header" style="color: #00ADE6" class="title">create new post</h1>
		<!--<a href="javascript:history.back()"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>-->
	</div>

 <!-- Bottom Nav Bar --> 
  <div class="bottom-holder">
        <div class="btn-toolbar">
           <!-- <div class="btn-group"> -->
            <a class="navbutton btn btn-inverse" href="../../homepage.handlebars/{{userID}}"><span class="ion-home"><br>Home</span></a>
            <a class="navbutton btn btn-inverse" href="../account.handlebars"><span class="ion-person"><br>Account</span></a>
        </div> 
    </div>
	
	<br><br>



<div class="new-web-form">
	<form id="addPostForm" role="form" method="get" action="/addPost/{{webID}}/{{postID}}">
	
    	<textarea type="text" placeholder="What idea do you have now?" name="message" class="form-control"></textarea>

		<button type="submit" class="submit-button btn btn-embossed btn-inverse">Submit Post</button>
	</form>
</div>

<div class="center">
    <a href="javascript:history.back()"><button class="cancel-button btn btn-embossed btn-info">Cancel</button></a>
  </div>

<br> 

 <div class="section-name">
        <div class="section-text">Appending post to:</div>
  </div>

  <div class="appended-post">
    <p>
      {{message}}
    </p>
  </div>

<!--
  <div class="item item-avatar">
    <img src="https://dl.dropboxusercontent.com/u/39378312/headshot.jpg">
    <h2>Justin Wiguna</h2>
    <p>November 05, 1992</p>
  </div>

  <div class="item item-body">
    <p>
      {{message}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
-->

	
  	<script src="https://code.jquery.com/jquery.js"></script>

	 <!-- Load JS here for greater good =============================-->
    <script src="/js/flat/jquery-1.8.3.min.js"></script>
    <script src="/js/flat/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/flat/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/flat/bootstrap.min.js"></script>
    <script src="/js/flat/bootstrap-select.js"></script>
    <script src="/js/flat/bootstrap-switch.js"></script>
    <script src="/js/flat/flatui-checkbox.js"></script>
    <script src="/js/flat/flatui-radio.js"></script>
    <script src="/js/flat/jquery.tagsinput.js"></script>
    <script src="/js/flat/jquery.placeholder.js"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48711052-1', 'corals.herokuapp.com');
  ga('send', 'pageview');

</script>

</body>
</html>
	