<!doctype html>
<html>
<head>
  <title>Graph | Basic usage</title>


    <style>
    body { 
      font: 14px helvetica neue, helvetica, arial, sans-serif;
    }

    #cy {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    </style>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  
  <!-- Loading Bootstrap -->
  <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="/css/flat/flat-ui.css" rel="stylesheet">

  <link rel="shortcut icon" href="/images/flat/favicon.ico">

  <link href="/css/coral.css" rel="stylesheet">

  <link href="/css/modal.css" rel="stylesheet" type="text/css" />


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<meta charset=utf-8 />

  <script src="/js/cytoscape.min.js"></script>
</head>


<body>

     <!-- Header -->
  
    <div class="header-gen">
        <h1 id="nexa-light-header" style="color: #00ADE6" class="title">web</h1>
        <section id="wrapper" style="margin-top: -55px; margin-left: 90%; color: #00ADE6">
        <article id="popUpBtn" class="ion-help-circled"></article>
        </section>
         
         

         <!-- panel with buttons -->

        <a href="#login_form" class="ion-person-add" id="login_pop" style="position: absolute; margin-top: -24px; left: 5%; color: #00ade6"></a>

    </div>
  
<!-- popup form #1 -->
        <a href="#x" class="overlay" id="login_form"></a>
          
          <div class="popup" style="opacity: 1">
              <p style="font-weight: bold; text-align: center">Type a friend's username to invite to web</p>
              <form role="form" method="get" action="/invite">
                <div>
                    <span>Friend's Username</span>
                    <input type="text" name="follower" placeholder="Who do you want to invite?" class="form-control" required/>
                </div>
                
                <button type="submit" class="submit-button btn btn-embossed btn-inverse">Invite to Web</button>
              </form>

                <a href="#close"><button type="button" class="submit-button btn btn-embossed btn-info" style="opacity: 0.7">Cancel</button></a>
    
          </div>



     <!-- Bottom Nav Bar --> 
  <div class="bottom-holder">
        <div class="btn-toolbar">
           <!-- <div class="btn-group"> -->
            <a class="navbutton btn btn-inverse" href="../../homepage.handlebars/{{userID}}"><span class="ion-home"><br>Home</span></a>
            <a class="navbutton btn btn-inverse" href="../account.handlebars"><span class="ion-person"><br>Account</span></a>
        </div> 
    </div>







  <div id="cy"></div>
  <script>
    $(function(){ // on dom ready

      $('#cy').cytoscape({
        layout: {
          name: 'cose',
        },

        style: cytoscape.stylesheet()
        .selector('node')
          .css({
            'content': 'data(name)',
            'text-valign': 'center',
            'color': '#00ade6',
            'text-outline-width': 1,
            'text-outline-color': 'black',
            'background-color': 'black',
            'font-size': 12
          })
        .selector('edge')
          .css({
            'width': '2',
            'target-arrow-shape': 'tee',
            'source-arrow-shape': 'triangle',
            'source-arrow-color': '#cc685d',
            'line-color': '#cc685d',
            'target-arrow-color': '#cc685d'
          })
        .selector(':selected')
          .css({
            'background-color': 'black',
            'line-color': 'black',
            'target-arrow-color': 'black',
            'source-arrow-color': 'black'
          })
        .selector('.faded')
          .css({
            'opacity': 0.25,
            'text-opacity': 0
          }),

        elements: {
        nodes: [
          {{#each node}}
            { data: { id: '{{id}}', name: '{{message}}'} },
          {{/each}}
        ],

        edges: [
          {{#each node}}
             { data: { target: '{{parent}}', source: '{{id}}'} },
         {{/each}}
        ]
        },

        ready: function(){
        window.cy = this;

        // giddy up...

        cy.elements().unselectify();

        cy.on('tap', 'node', function(e){
          var node = e.cyTarget; 
          var neighborhood = node.neighborhood().add(node);
          
          cy.elements().addClass('faded');
          neighborhood.removeClass('faded');
          window.open('/post.handlebars/' + '{{web}}' + '/' + node.id(), "_self");
        });

        cy.on('tap', function(e){
          if( e.cyTarget === cy ){
            cy.elements().removeClass('faded');
          }
        });
        }

      });

    }); // on dom ready

    </script>    

    <!-- <script src="https://code.jquery.com/jquery.js"></script> --> 


   <!-- Load JS here for greater good =============================-->
    <!-- <script src="/js/flat/jquery-1.8.3.min.js"></script> -->
    <script src="/js/flat/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/flat/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/flat/bootstrap.min.js"></script>
    <script src="/js/flat/bootstrap-select.js"></script>
    <script src="/js/flat/bootstrap-switch.js"></script>
    <script src="/js/flat/flatui-checkbox.js"></script>
    <script src="/js/flat/flatui-radio.js"></script>
    <script src="/js/flat/jquery.tagsinput.js"></script>
    <script src="/js/flat/jquery.placeholder.js"></script>


    <script type="text/javascript">
    var overlayElement = null;
    var modalWindowElement = null;
    window.addEventListener('load', initApp, false);

    function initApp() {
      setTimeout(function() { window.scrollTo(0, 1); }, 10);
      document.getElementById("popUpBtn").addEventListener("click", function() {
        showPopUpMessage("<p>Coral Help</p>Click on any post to attach another post to it<br><br>(tap anywhere to exit)");
      }, false);
    }
    //show the modal overlay and popup window
    function showPopUpMessage(msg) {
      overlayElement = document.createElement("div");
      overlayElement.className = 'modalOverlay';
      modalWindowElement = document.createElement("div");
      modalWindowElement.className = 'modalWindow';
      modalWindowElement.innerHTML = msg;
      modalWindowElement.style.left = (window.innerWidth - 250) / 2 + "px";
      document.body.appendChild(overlayElement);
      document.body.appendChild(modalWindowElement);
      setTimeout(function() {
        modalWindowElement.style.opacity = 1;
        overlayElement.style.opacity = 0.4;
        overlayElement.addEventListener("click", hidePopUpMessage, false);
      }, 300);
    }
    //hide the modal overlay and popup window
    function hidePopUpMessage() {
      modalWindowElement.style.opacity = 0;
      overlayElement.style.opacity = 0;
      overlayElement.removeEventListener("click", hidePopUpMessage, false);
      setTimeout(function() {
        document.body.removeChild(overlayElement);
        document.body.removeChild(modalWindowElement);
      }, 400);
    }
  </script>
  
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48711052-1', 'corals.herokuapp.com');
    ga('send', 'pageview');

  </script>

</body>
</html>