<!doctype html>
<html>
<head>
  <title>Graph | Basic usage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/ionic.css" rel="stylesheet">
  <link href="/css/ionic.min.css" rel="stylesheet">
  <link href="/css/vis.css" rel="stylesheet">
  <link href="/css/coral.css" rel="stylesheet">

  <script type="text/javascript" src="/js/vis.js"></script>
</head>

<body>

<div id="header-image" class="bar bar-header">
      <a href="javascript:history.back()"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>
      <h1 id="nexa-light-header" style="color: #00ADE6" class="title">web</h1>
      <a href="../post.handlebars/{{web}}/{{nodes}}" style="color: #00ADE6" class="button button-icon icon ion-ios7-compose-outline"></a>
</div>


  <div style="color: white" id="tab-color" class="tabs tabs-icon-top">
    <a href="../homepage.handlebars" class="tab-item">
      <i id="other-icons" class="icon ion-home"></i>
      Home
    </a>
    <a href="../discover.handlebars" class="tab-item">
      <i id="other-icons" class="icon ion-ios7-search"></i>
      Discover
    </a>
    <a href="../account.handlebars" class="tab-item">
      <i id="other-icons" class="icon ion-person"></i>
      Account
    </a>
    <a href="../activity.handlebars" class="tab-item">
      <i id="other-icons" class="icon ion-ios7-bolt"></i>
      Activity
    </a>
    </div>


<div style="background-color: white">
<div id="mygraph"></div>
</div>

<script type="text/javascript">
  // create an array with nodes
  
  
    var nodes = [
      {{#each node}}
        {id: {{id}}, label: '{{message}}', shape: 'box', radius: 1},
      {{/each}}
    ];

  // create an array with edges
  var edges = [
    {{#each node}}
      if ({{parent}} >= 0) {
        {from: {{parent}}, to: {{id}}, color: '#00ADE6'},
      }
    {{/each}}
  ];

  //  // create an array with edges
  // var edges = [
  //   {from: 1, to: 2},
  //   {from: 1, to: 3},
  //   {from: 2, to: 4},
  //   {from: 2, to: 5}
  // ];

  // create a graph
  var container = document.getElementById('mygraph');
  var data= {
    nodes: nodes,
    edges: edges,
  };

  var options = {
    width: '100%',
    height: '100%',
    nodes: {
      fontSize: 12,
      fontColor: 'white',
      color: {
        background: 'black',
        border: '#cc685d',
      }
    }
  };

  var graph = new vis.Graph(container, data, options);

  graph.on('select', function (properties) {
    window.location.href = "post.handlebars/" + {{web}} + "/" + nodes[0];
    //lert('selected nodes: ' + properties.nodes);
  });
</script>

</body>
</html>