<!doctype html>
<html>
<head>
  <title>Graph | Basic usage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  
  <!-- Loading Bootstrap -->
  <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="/css/flat/flat-ui.css" rel="stylesheet">

  <link rel="shortcut icon" href="/images/flat/favicon.ico">

  <link href="/css/coral.css" rel="stylesheet">
  <link href="/css/vis.css" rel="stylesheet">
  <script type="text/javascript" src="/js/vis.js"></script>
  
</head>

<body>

<!-- Header -->
  <div id="header-image" class="header-gen">
      <h1 id="nexa-light-header" style="color: #00ADE6" class="title">web</h1>
  </div>

<!-- Bottom Nav Bar --> 
  <div id="move" class="bottom-holder" style="z-index: 1000">
        <div class="btn-toolbar">
           <!-- <div class="btn-group"> -->
            <a class="navbutton btn btn-inverse" href="../../homepage.handlebars"><span class="fui-play"></span></a>
            <a class="navbutton btn btn-inverse" href="../../account.handlebars"><span class="fui-user"></span></a>
            <a class="navbutton btn btn-inverse" href="../../activity.handlebars"><span class="fui-eye"></span></a>
        </div> 
    </div>


<div style="background-color: white">
<div id="mygraph"></div>
</div>

<script type="text/javascript">
  // create an array with nodes

    var nodes = [
      {{#each node}}
        {id: '{{id}}', label: '{{message}}'},
      {{/each}}
    ];


  var edges = [
     {{#each node}}
         {from: '{{parent}}', to: '{{_id}}', color: '#00ADE6'},
     {{/each}}
  ];

  // create a graph
  var container = document.getElementById('mygraph');
  var data= {
    nodes: nodes,
    edges: edges,
  };
  var options = {
    width: '100%',
    height: '100%',
    nodes: {
      fontSize: 12,
      fontColor: 'white',
      color: {
        background: 'black',
        border: '#cc685d',
      }
    }
  };

  var graph = new vis.Graph(container, data, options);

  graph.on('select', function (properties) {

  if (confirm('Post to this node?')) {
    window.location.href = "/post.handlebars/" + "{{web}}" + "/" + properties.nodes[0];
} else {

}
   
  });
</script>

    <script src="https://code.jquery.com/jquery.js"></script>

   <!-- Load JS here for greater good =============================-->
    <script src="/js/flat/jquery-1.8.3.min.js"></script>
    <script src="/js/flat/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/flat/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/flat/bootstrap.min.js"></script>
    <script src="/js/flat/bootstrap-select.js"></script>
    <script src="/js/flat/bootstrap-switch.js"></script>
    <script src="/js/flat/flatui-checkbox.js"></script>
    <script src="/js/flat/flatui-radio.js"></script>
    <script src="/js/flat/jquery.tagsinput.js"></script>
    <script src="/js/flat/jquery.placeholder.js"></script>
</body>
</html>